
.hero-container {
    border-bottom: 2px solid lightslategray;
    color: rgb(50, 155, 182);
}

.hero-brand{
    font-size: 40px;
    font-weight: 400;
    font-style: italic;
    
}

.hero-nav{
    font-size: 25px;   
    font-weight: 300;
}
.hero-nav-links{
    color: darkslategrey;
}