.title-bloglist{
    font-size: 40px;
    padding: 1.5rem;
    color: darkslategrey;
    font-style: italic;
    font-weight: 400;
    border-bottom: 2px double lightslategray;
    margin-bottom: 1rem;
    margin-top: 1rem;
}